// Predefined colors palette
$clear-white: #ffffff;
$fade-white: #f5f5f5;
$fade-black: #615e5e;
$fade-grey: #999999;
$clear-grey: #ebebeb;
$light-grey: #cccccc;
$pastel-yellow: #e5db9c;
$pastel-pink: #f48fb1;
$pure-black: #000000;
$pastel-red: #ff6961;