// Normal 'Noto Sans' font
@font-face {
    font-family: 'Noto Sans', sans-serif;
    src: url('../../assets/fonts/NotoSans/NotoSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
};

// Bold 'Noto Sans' font
@font-face {
    font-family: 'Noto Sans', sans-serif;
    src: url('../../assets/fonts/NotoSans/NotoSans-Bold.ttf');
    font-style: normal;
    font-weight: 700;
};